# Python virtual environment
venv/
.venv/
env/
install-pyenv-win.ps1
*.pytest_cache/
.env

# Pyhon cache files
__pycache__/

# Model files
yolov8n-pose.pt

# Created automatically on endpoint
uploads

# Videos i tested with
sample_videos/

#Script to capture different exercice threshholds
app/threshhold_test.py

#MLflow
mlflow.db
mlruns/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/